html {overflow-y: scroll;}

.typeahead,
.tt-query,
.tt-hint {
  width: 585px;
  height: 36px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.twitter-typeahead {
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-dropdown-menu {
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  width: 396px;
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.tt-term-count {
  float: right;
}

#search-bar {
  margin-top: -12px;
}

#abstract-view {
  margin-top: 12px;
}

.autocomplete-header {
  margin-left: 12px;
}

.bootstrap-select.btn-group {
  margin-top: 12px;
  margin-bottom: 0px;
  margin-left: 6px;
}

.search-scope {
  margin-top: 12px;
  font-size: 14px;
}

.sidebar-header {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.list-group-item.active {
  background-color: #ddd;
}

.article-title {
  color: black;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.1;
}

.pagination {
  margin-top: 0;
}

.term {
  color: black;
  background-color: yellow;
}

.reviewed {
  background-color: yellowgreen;
}

.approve-btn, .reject-btn {
  position:absolute;
  left: 5%;
  width: 90%;
}

.popover-content {
  height: 50px;
}

.popover-title-text {
  margin-left: 10px;
}

.close {
  position: absolute;
  left: 5px;
  top: 5px;
  display: inline-block;
}

.selected {
  background-color: yellowgreen;
}

.sentence {
  transition: background-color 0.5s ease-out 1s;
}

.sentence:hover {
  background-color: #EEF7FF;
  transition: background-color 0s ease-out 0s;
}
